body {
    background-color: #446787;
    font-family: 'Pacifico', cursive;
}

p {
    font-size: 250%;    
    color: white;
}

#quoteAuthor {
    width: 700px;
    height: auto;
    background: #446787;
    margin: 100px auto 60px;
    text-align: center;
}

#author {
    font-size: 170%;
    text-align: right;
    font-style: italic;
}
