body {
    font-family: 'Zilla Slab', serif;
    background-color: #444444;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

p {
    font-size: 250%;    
    color: white;
}

button {
    background-color:white;
    color: #444444;
    font-size: 160%;
    border-radius: 200px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    margin-right: 15px;
    font-family: 'Zilla Slab', serif;
}

#buttons a {
    background-color:white;
    font-size: 180%;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 200px;
    vertical-align: top;
    color: #00aced;
}

#quoteAuthor {
    width: 700px;
    height: auto;
    margin: 80px auto 60px;
    text-align: center;
    background-color: #444444;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

#author {
    font-size: 170%;
    text-align: right;
    font-style: italic;
}

#quote {
    margin-top: 80px;
}

#buttons {
    background-color: #444444;
    transition: background-color 0.5s;
}

.animated {
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
}

@media only screen and (max-width: 992px) {
    p { font-size: 220%; }
    #quote { margin-top: 50px; }    
    #author { font-size: 150%; }
    #quoteAuthor { 
        width: 550px;    
        margin: 50px auto 30px;   
    }
}

@media only screen and (max-width: 600px) {
    p { font-size: 200%; }
    #quoteAuthor { max-width: 90%; }    
    #author { font-size: 140%; }  
}